/*****************************************************************************************/

#fbFirePythonMenu {
    list-style-image: url(chrome://firepython/skin/icon16.png);
    -moz-opacity: 0.8;
    margin-left: 10px;
}

#fbFirePythonMenu:hover,
#fbFirePythonMenu[open="true"] {
    list-style-image: url(chrome://firepython/skin/hover-icon16.png);
    -moz-opacity: 1.0;
}

#fbFirePythonMenu > .toolbarbutton-text,
#fbFirePythonMenu > .toolbarbutton-menu-dropmarker {
    display: none;
}

#fbFirePythonFilters {
    padding-left: 20px;
}

#fbFirePythonFilterDebugButton { list-style-image: url(chrome://firepython/skin/icon-log-debug.png); }
#fbFirePythonFilterDebugButton:hover { list-style-image: url(chrome://firepython/skin/hover-icon-log-debug.png); }
#fbFirePythonFilterDebugButton[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-icon-log-debug.png); }
#fbFirePythonFilterDebugButton:hover[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-hover-icon-log-debug.png); }

#fbFirePythonFilterInfoButton { list-style-image: url(chrome://firepython/skin/icon-log-info.png); }
#fbFirePythonFilterInfoButton:hover { list-style-image: url(chrome://firepython/skin/hover-icon-log-info.png); }
#fbFirePythonFilterInfoButton[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-icon-log-info.png); }
#fbFirePythonFilterInfoButton:hover[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-hover-icon-log-info.png); }

#fbFirePythonFilterErrorButton { list-style-image: url(chrome://firepython/skin/icon-log-error.png); }
#fbFirePythonFilterErrorButton:hover { list-style-image: url(chrome://firepython/skin/hover-icon-log-error.png); }
#fbFirePythonFilterErrorButton[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-icon-log-error.png); }
#fbFirePythonFilterErrorButton:hover[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-hover-icon-log-error.png); }

#fbFirePythonFilterWarningButton { list-style-image: url(chrome://firepython/skin/icon-log-warning.png); }
#fbFirePythonFilterWarningButton:hover { list-style-image: url(chrome://firepython/skin/hover-icon-log-warning.png); }
#fbFirePythonFilterWarningButton[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-icon-log-warning.png); }
#fbFirePythonFilterWarningButton:hover[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-hover-icon-log-warning.png); }

#fbFirePythonFilterCriticalButton { list-style-image: url(chrome://firepython/skin/icon-log-critical.png); }
#fbFirePythonFilterCriticalButton:hover { list-style-image: url(chrome://firepython/skin/hover-icon-log-critical.png); }
#fbFirePythonFilterCriticalButton[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-icon-log-critical.png); }
#fbFirePythonFilterCriticalButton:hover[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-hover-icon-log-critical.png); }

.filter-debug .firepython-rec.icon-log-debug { display: none !important; }
.filter-info .firepython-rec.icon-log-info { display: none !important; }
.filter-warning .firepython-rec.icon-log-warning { display: none !important; }
.filter-error .firepython-rec.icon-log-error { display: none !important; }
.filter-critical .firepython-rec.icon-log-critical { display: none !important; }

.firepython-rec {
    position: relative;
    border-bottom: 1px solid #D7D7D7;
    padding: 1px 0px;
    color: #000;
    overflow: hidden;
    padding-right: 2px;
}

.panelNode.searching .firepython-rec {
    display: none;
}

.firepython-rec.matched {
    display: block !important;
    background-color: #FFFBBC;
}

.toolbar-text-button > .toolbarbutton-icon {
    display: block !important;
    background: transparent !important;
}

.firepython-rec > .rec-head {
    background-position: 2px 2px;
}

.firepython-rec > .rec-head.closed {
    background-image: url(twistyClosed.png);
    background-repeat: no-repeat;
}

.firepython-rec > .rec-head.expanded {
    background-image: url(twistyOpen.png);
    background-repeat: no-repeat;
}

.firepython-rec > .rec-head {
    padding-left: 18px;
    background-position: 3px 3px;
}

.firepython-rec:hover {
    background-color: #eee;
}

.firepython-rec {
    cursor: default;
}

.firepython-rec.expanded {
    padding-bottom: 4px;
    border-bottom: none;
}

.rec-icon {
    width: 16px;
    height: 16px;
    vertical-align: top;
    position: absolute;
    background-position: top left;
    background-repeat: no-repeat;
}

.rec-date {
    color: gray;
    font-weight: normal;
    cursor: pointer;
    position: absolute;
    margin-left: 20px;
}

.rec-msg {
    margin-left: 104px;
    padding-top: 0px;
}

.rec-logger {
    float: right;
    color: white;
    -moz-border-radius: 2px;
    padding: 0px 3px;
    padding-bottom: 1px;
    min-width: 50px;
    text-align: center;
}

.type-exception .rec-msg {
    background-color: red;
    color: white;
    font-weight: bold;
    font-family: arial;
    -moz-border-radius: 2px;
    margin-left: 104px;
    padding-left: 2px;
    padding-right: 2px;
}

.rec-date:hover {
    color: black;
}

.firepython-rec > .rec-head.log-debug > .rec-icon {
    background-image: url(icon-log-debug.png);
}
.firepython-rec > .rec-head.log-info > .rec-icon {
    background-image: url(icon-log-info.png);
}
.firepython-rec > .rec-head.log-warning > .rec-icon {
    background-image: url(icon-log-warning.png);
}
.firepython-rec > .rec-head.log-error > .rec-icon {
    background-image: url(icon-log-error.png);
}
.firepython-rec > .rec-head.log-critical > .rec-icon {
    background-image: url(icon-log-critical.png);
}
.firepython-rec > .rec-head.sys-error > .rec-icon {
    background-image: url(icon-sys-error.png);
}
.firepython-rec > .rec-head.sys-info > .rec-icon {
    background-image: url(icon-sys-info.png);
}
.firepython-rec > .rec-head.sys-warning > .rec-icon {
    background-image: url(icon-sys-warning.png);
}
.firepython-rec > .rec-head.sys-tip > .rec-icon {
    background-image: url(icon-sys-tip.png);
}

.firepython-rec > .rec-head > .rec-details {
    display: none;
}

.firepython-rec > .rec-head.expanded > .rec-details {
    display: block;
}

.twisty {
    background-position: 2px 0;
}

.rec-traceback-icon {
    padding: 0;
    margin: 0;
    width: 20px;
    background-image: url(traceback-arrow.png);
    background-repeat: no-repeat;
}

.rec-traceback-table {
}

.rec-traceback-file {
    min-width: 78px;
}

.rec-traceback-function {
    color: #008;
    min-width: 140px;
}

.rec-traceback-table td {
    border-top: 1px dashed #ddd;
    vertical-align: top;
}

.rec-traceback-row.current {
    font-weight: bold;
}

.rec-traceback-file {
    color: gray;
    font-weight: normal;
    cursor: pointer;
}

.rec-traceback-file:hover {
    color: black;
}