#fbFireLoggerMenu {
    list-style-image: url(chrome://firelogger/skin/icon16.png);
    -moz-opacity: 0.8;
    margin-left: 10px;
}

#fbFireLoggerMenu:hover,
#fbFireLoggerMenu[open="true"] {
    list-style-image: url(chrome://firelogger/skin/hover-icon16.png);
    -moz-opacity: 1.0;
}

#fbFireLoggerMenu > .toolbarbutton-text,
#fbFireLoggerMenu > .toolbarbutton-menu-dropmarker {
    display: none;
}

#fbFireLoggerFilterDebugButton { list-style-image: url(chrome://firelogger/skin/icon-log-debug.png); }
#fbFireLoggerFilterDebugButton:hover { list-style-image: url(chrome://firelogger/skin/hover-icon-log-debug.png); }
#fbFireLoggerFilterDebugButton[checkState="0"] { list-style-image: url(chrome://firelogger/skin/disabled-icon-log-debug.png); }
#fbFireLoggerFilterDebugButton:hover[checkState="0"] { list-style-image: url(chrome://firelogger/skin/disabled-hover-icon-log-debug.png); }

#fbFireLoggerFilterInfoButton { list-style-image: url(chrome://firelogger/skin/icon-log-info.png); }
#fbFireLoggerFilterInfoButton:hover { list-style-image: url(chrome://firelogger/skin/hover-icon-log-info.png); }
#fbFireLoggerFilterInfoButton[checkState="0"] { list-style-image: url(chrome://firelogger/skin/disabled-icon-log-info.png); }
#fbFireLoggerFilterInfoButton:hover[checkState="0"] { list-style-image: url(chrome://firelogger/skin/disabled-hover-icon-log-info.png); }

#fbFireLoggerFilterErrorButton { list-style-image: url(chrome://firelogger/skin/icon-log-error.png); }
#fbFireLoggerFilterErrorButton:hover { list-style-image: url(chrome://firelogger/skin/hover-icon-log-error.png); }
#fbFireLoggerFilterErrorButton[checkState="0"] { list-style-image: url(chrome://firelogger/skin/disabled-icon-log-error.png); }
#fbFireLoggerFilterErrorButton:hover[checkState="0"] { list-style-image: url(chrome://firelogger/skin/disabled-hover-icon-log-error.png); }

#fbFireLoggerFilterWarningButton { list-style-image: url(chrome://firelogger/skin/icon-log-warning.png); }
#fbFireLoggerFilterWarningButton:hover { list-style-image: url(chrome://firelogger/skin/hover-icon-log-warning.png); }
#fbFireLoggerFilterWarningButton[checkState="0"] { list-style-image: url(chrome://firelogger/skin/disabled-icon-log-warning.png); }
#fbFireLoggerFilterWarningButton:hover[checkState="0"] { list-style-image: url(chrome://firelogger/skin/disabled-hover-icon-log-warning.png); }

#fbFireLoggerFilterCriticalButton { list-style-image: url(chrome://firelogger/skin/icon-log-critical.png); }
#fbFireLoggerFilterCriticalButton:hover { list-style-image: url(chrome://firelogger/skin/hover-icon-log-critical.png); }
#fbFireLoggerFilterCriticalButton[checkState="0"] { list-style-image: url(chrome://firelogger/skin/disabled-icon-log-critical.png); }
#fbFireLoggerFilterCriticalButton:hover[checkState="0"] { list-style-image: url(chrome://firelogger/skin/disabled-hover-icon-log-critical.png); }

#fbFireLoggerFilterAppengineButton { list-style-image: url(chrome://firelogger/skin/icon-sys-appengine.png); }
#fbFireLoggerFilterAppengineButton:hover { list-style-image: url(chrome://firelogger/skin/hover-icon-sys-appengine.png); }
#fbFireLoggerFilterAppengineButton[checkState="0"] { list-style-image: url(chrome://firelogger/skin/disabled-icon-sys-appengine.png); }
#fbFireLoggerFilterAppengineButton:hover[checkState="0"] { list-style-image: url(chrome://firelogger/skin/disabled-hover-icon-sys-appengine.png); }

.filter-debug .firelogger-rec.icon-log-debug { display: none !important; }
.filter-info .firelogger-rec.icon-log-info { display: none !important; }
.filter-warning .firelogger-rec.icon-log-warning { display: none !important; }
.filter-error .firelogger-rec.icon-log-error { display: none !important; }
.filter-critical .firelogger-rec.icon-log-critical { display: none !important; }
.filter-appengine .firelogger-rec.icon-sys-appengine { display: none !important; }

.firelogger-rec {
    position: relative;
    border-bottom: 1px solid #D7D7D7;
    padding: 1px 0px;
    color: #000;
    overflow: hidden;
    padding-right: 2px;
}

.panelNode.searching .firelogger-rec {
    display: none;
}

.firelogger-rec.matched {
    display: block !important;
    background-color: #FFFBBC;
}

.toolbar-text-button > .toolbarbutton-icon {
    display: block !important;
    background: transparent !important;
}

.firelogger-rec > .rec-head {
    background-position: 2px 2px;
}

.firelogger-rec > .rec-head.closed {
    background-image: url(twistyClosed.png);
    background-repeat: no-repeat;
}

.firelogger-rec > .rec-head.expanded {
    background-image: url(twistyOpen.png);
    background-repeat: no-repeat;
}

.firelogger-rec > .rec-head {
    padding-left: 18px;
    background-position: 4px 3px;
}

.firelogger-rec:hover {
    background-color: #eee;
}

.firelogger-rec {
    cursor: default;
}

.firelogger-rec.expanded {
    padding-bottom: 4px;
    border-bottom: none;
}

.rec-icon {
    width: 16px;
    height: 16px;
    vertical-align: top;
    position: absolute;
    background-position: top left;
    background-repeat: no-repeat;
}

.rec-date {
    color: gray;
    font-weight: normal;
    cursor: pointer;
    position: absolute;
    margin-left: 20px;
}

.rec-msg {
    margin-left: 104px;
    padding-top: 0px;
}

.rec-logger {
    float: right;
    color: white;
    -moz-border-radius: 2px;
    padding: 0px 3px;
    padding-bottom: 1px;
    min-width: 50px;
    text-align: center;
}

.type-exception .rec-msg, .type-messagewithexception .rec-msg {
    background-color: red !important;
    color: white !important;
    font-weight: bold !important;
    font-family: arial !important;
    -moz-border-radius: 2px;
    margin-left: 104px;
    padding-left: 2px;
    padding-right: 2px;
}

.type-exception .rec-msg .objectBox.objectBox-string, .type-messagewithexception .rec-msg .objectBox.objectBox-string {
    color: white !important;
}

.type-messagewithexception .rec-msg {
    background-color: fuchsia;
}

.type-profile .rec-msg {
  cursor: pointer;
}

.rec-date:hover {
    color: black;
}

.firelogger-rec > .rec-head.log-debug > .rec-icon {
    background-image: url(icon-log-debug.png);
}
.firelogger-rec > .rec-head.log-info > .rec-icon {
    background-image: url(icon-log-info.png);
}
.firelogger-rec > .rec-head.log-warning > .rec-icon {
    background-image: url(icon-log-warning.png);
}
.firelogger-rec > .rec-head.log-error > .rec-icon {
    background-image: url(icon-log-error.png);
}
.firelogger-rec > .rec-head.log-critical > .rec-icon {
    background-image: url(icon-log-critical.png);
}
.firelogger-rec > .rec-head.sys-error > .rec-icon {
    background-image: url(icon-sys-error.png);
}
.firelogger-rec > .rec-head.sys-info > .rec-icon {
    background-image: url(icon-sys-info.png);
}
.firelogger-rec > .rec-head.sys-warning > .rec-icon {
    background-image: url(icon-sys-warning.png);
}
.firelogger-rec > .rec-head.sys-tip > .rec-icon {
    background-image: url(icon-sys-tip.png);
}
.firelogger-rec > .rec-head.sys-time > .rec-icon {
    background-image: url(icon-sys-time.png);
}
.firelogger-rec > .rec-head.sys-appengine > .rec-icon {
    background-image: url(icon-sys-appengine.png);
}

.firelogger-rec > .rec-head > .rec-details {
    display: none;
}

.firelogger-rec > .rec-head.expanded > .rec-details {
    display: block;
}

.twisty {
    background-position: 2px 0;
}

.rec-traceback-icon {
    padding: 0;
    margin: 0;
    width: 20px;
    background-image: url(traceback-arrow.png);
    background-repeat: no-repeat;
}

.rec-traceback-table {
    width: 100%;
}

.rec-traceback-file {
    min-width: 78px;
}

.rec-traceback-function {
    color: #008;
    min-width: 140px;
}

.rec-traceback-table td {
    border-top: 1px dashed #ddd;
    vertical-align: top;
}

.rec-traceback-row.current {
    font-weight: bold;
}

.rec-traceback-file {
    color: gray;
    font-weight: normal;
    cursor: pointer;
}

.rec-traceback-file:hover {
    color: black;
}

.firelogger-rec > .rec-request {
    border-bottom: 2px solid #999;
    padding-top: 0px;
    margin-left: 0px;
    background-position:4px 1px;
    white-space: nowrap;
}

.firelogger-rec > .rec-request > .rec-request-url {
    background-color: #999;
    color: #fff;
    font-weight: bold;
    padding: 2px 10px;
}

.firelogger-rec.type-request {
    padding: 0;
    margin-top:4px;
    background-color: #fff;
}

.firelogger-rec > .rec-request > .rec-request-detail {
    cursor: pointer;
    font-weight: bold;
    padding: 2px 10px 2px 0px;
    color: #fff;
    background-color: #999;
}

.firelogger-rec > .rec-request > .rec-request-detail:hover {
    color: yellow;
}

.rec-appstats-icon {
    padding: 0;
    margin: 0;
    width: 20px;
    min-width: 20px;
    background-image: url(appstats-arrow.png);
    background-repeat: no-repeat;
}

.rec-appstats-table {
    width: 100%;
}

.rec-appstats-table .rec-appstats-bars:hover {
    background-color: #FFFFC4;
}

.rec-appstats-table td {
    vertical-align: top;
}

.rec-appstats-call {
    color: #400080;
    min-width: 180px;
    width: 180px;
}

.rec-appstats-call a:hover {
    text-decoration: underline;
}

.rec-appstats-bars {
    width: 100%;
}

.type-appstats {
    cursor: pointer;
}

.rec-appstats-graph {
    border-left:1px solid #DDDDDD;
    border-right:1px solid #DDDDDD;
    border-top:1px solid #DDDDDD;    
    width: 100%;
}

.bar-wrapper {
    position: relative;
    width: 100%;
}

.bar-duration {
    position: absolute;
    background-color: #005AA6;
    height: 5px;
    margin: 1px 0;
    min-width:3px;
    -moz-border-radius: 2px;
}

.bar-api {
    position: absolute;
    background-color: #D12400;
    height: 5px;
    margin: 7px 0;
    min-width: 3px;
    -moz-border-radius: 2px;
}

.rec-appstats-graph-axis {
    border-top:1px solid #DDDDDD;    
    width: 100%;
    color:#555555;
    font-size:8px;
    height: 12px;
}

.rec-appstats-graph-axis .axis-marker {
    height: 4px;
    border-left: 1px solid #ddd;
    position: absolute;
    padding-left: 4px;
}

.rec-appstats-graph-axis .axis-marker-last, .rec-appstats-graph-axis .axis-marker-last-zoom {
    height: 4px;
    border-right: 1px solid #ddd;
    position: absolute;
    right: 0;
    padding-right: 4px;
}

.rec-appstats-graph:hover {
    background-color: #EEEE9F;
}

.appstats-cpu {
    width: 160px;
    float:left;
}

.clear-float {
    clear:both;
}

.rec-appstats-header {
    margin-left: 20px;
}

.appstats-header-graph {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    margin-left: 160px;
}